<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>
    <title>Demo Crud AJAX</title>
    <meta name="description" content="Static table examples">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link th:href="@{/assets/vendors/base/vendors.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/demo/default/base/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="https://ap.poly.edu.vn/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugin/query-ui.css}">
</head>
<!-- end::Head -->

<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">


<div>
    <div class="m-portlet">
        <div class="m-portlet">

            <!-- begin thêm mới Sinh Viên-->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-6 d-inline"
                    >
                        <button
                                data-toggle="modal"
                                data-target="#modal_create"
                                class="col-12 col-sm-8 col-md-4 btn btn-success">
                            Thêm sinh vien
                        </button>
                        <div class="modal fade "
                             id="modal_create"
                             tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <form id="form_create_sinh_vien">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Thêm Sinh Vien</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="col-form-label">Ten Sinh Vien</label>
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        id="tenSinhVien">
                                                <span class="text-danger"
                                                      id="sinh_vien_error"></span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Hủy
                                            </button>
                                            <button type="submit" class="btn btn-primary">Thêm mới
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Thêm Mới Sinh Viên-->

            <!-- begin hiển thị thông tin Sinh Viên -->
            <table id="custom-table"
                   class="table table-bordered m-table d-sm-table m-table--head-bg-primary">
                <thead>
                <tr>
                    <td>mã sinh viên</td>
                    <td>ten sinh viên</td>
                    <td>Hành động</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${list}">
                    <td th:text="${item.maSinhVien}"></td>
                    <td th:text="${item.tenSinhVien}"></td>
                    <td>
                        <button
                                type="button"
                                class="btn btn-primary"
                                th:attr="onclick=|openModalUpdateSinhVien('${item.maSinhVien}')|">
                            Sửa
                        </button>
                        </button>
                        <button
                                type="button"
                                class="btn btn-danger"
                                data-toggle="modal"
                                th:attr="onclick=|openModalRemoveSinhVien('${item.maSinhVien}')|">
                            Xoá
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- end hiển thị thông tin Sinh Viên -->

            <!-- begin update thông tin Sinh Viên -->
            <div
                    class="modal fade"
                    tabindex="-1"
                    id="modal_update_sinh_vien"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                <div class="modal-dialog modal-lg modal-lg"
                     role="document">
                    <div class="modal-content">
                        <form id="form_sinh_vien_update">
                            <div class="modal-header">
                                <h5 class="modal-title">Cập
                                    nhật Sinh Viên</h5>
                                <button type="button" class="close"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span id="id_sinh_vien_update" style="color:red;"></span>

                                <div class="form-group">
                                    <label
                                            class="col-form-label">Tên Sinh Viên</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="ten_sinh_vien_update"/>
                                    <small class="text-danger"
                                           id="errorMessageUpdate"></small>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Hủy
                                </button>
                                <button type="submit" class="btn btn-primary">Cập
                                    nhật
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end update thông tin Sinh Viên -->

            <!-- begin delete thông tin Sinh Viên -->
            <div
                    class="modal fade"
                    id="modal_sinh_vien_remove"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                <div class="modal-dialog modal-lg modal-lg"
                     role="document">
                    <div class="modal-content">
                        <form id="form_sinh_vien_delete">
                            <div class="modal-header">
                                <h5 class="modal-title">Xoá sinh viên</h5>
                                <button type="button" class="close"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Bạn có muốn xoá không ?</p>
                                <span id="remove_sinh_vien" style="color:red;"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Hủy
                                </button>
                                <button type="submit" class="btn btn-primary">Xoá
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- end update thông tin Sinh Viên -->
        </div>
    </div>
</div>
            <script th:src="@{/assets/vendors/base/vendors.bundle.js}" type="text/javascript"></script>
            <script th:src="@{/assets/demo/default/base/scripts.bundle.js}" type="text/javascript"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>
            <script th:src="@{/js/custom/SinhVien.js}" type="text/javascript"></script>
</body>
</html>

